#cesiumContainer {
  position: absolute !important;
  left: 400px;
  top: 0;
  bottom: 0;
  right: 0;
}

.header {
  background-color: #c9aeae;
  height: 47px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 15px;
}

.header-title-container {
  padding-left: 20px;
  text-align: left;
}

.header-logo-container {

}

.header-button-container {

}

.sidebar {
  width: 400px;
  height: 100vh;
  background-color: var(--ids-color-bg-neutral-base);
}
